*{margin:0;padding:0;}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsDrvev4WAjW489CRDHIkJ90.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsCGXDOnx9ptx3UTSPTrfsgk.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsAZ98xO_Wnt-JIem4AuLGfs.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsE1G989qbVg6RT5ly5jB8V8.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsJ84zb0nVte6liF9gGtpo1Y.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsD86pq2NkPzVgw_9lpT6RGI.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nDW5FUgIgejJvrHuLWqrSMw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nA30BZHTGu2N_DqssQcMQNQ.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nPDoBG10JtAX-GAwn6iwU1Y.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nGhQuge17febRYSUkWKdLWA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nBBtmDLrZTTOm3p1EhiGCXc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nEV356qNqHCUb41pS3zqMSE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nHm2hrkyco9jQ3NKMXpgOBg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
html {
  -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
}
body{line-height:1;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body{font-family:Arial, Helvetica, sans-serif;background:#fff;overflow-x:hidden;color:#555;font-size:16px;text-align:justify;font-weight:400;line-height:20px;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;cursor:pointer;color:#2e7aa0}
:before, :after{
	display:table;
	
}
#wrapper{position:relative;margin:0;padding:0;overflow:hidden;width:100%;height:100%;}
#wrapLoader{position:relative;margin:0;padding:0;overflow:hidden;background:#fff;z-index:1;}
.banner_doc{margin:0;padding:0}
.banner_doc a.left{max-width:150px;position:absolute;top:80px;left:1px;z-index:9999}
.banner_doc a.right{max-width:150px;position:absolute;top:80px;right:1px;z-index:9999}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel{overflow:hidden;}
.slideout-open .slideout-menu{display:block;}
#to_top{position:fixed;bottom:40px;right:24px;margin:0 auto;z-index:9999;display:none;cursor:pointer;}
#banner h1{position:absolute;left:-1000px;}
session, nav, footer, article{overflow:hidden;}
.clear{clear:both;}
.text-left{text-align:left;} .text-center{text-align:center;} .text-right{text-align:right;}
.uppercase{text-transform: uppercase;} .nowrap{white-space: nowrap;}
.add-to-cart{position:relative;white-space:nowrap;}
.add-to-cart input{padding:4px;text-align:center !important;min-width:42px;height:28px;border: 1px solid #d09c39;box-sizing:border-box;}
.add{
	cursor:pointer;font-size:14px; font-weight:700; text-align:center;line-height:24px;height:24px;width: 24px;
	padding:0;color: #07932c;border: 1px solid #07932c;box-sizing:border-box;display: inline-block;
	vertical-align:middle;overflow:hidden;
}
.dec{right:auto;}
.add:hover{color:#fff;border: 1px solid #ed4934;background:#ed4934;}
.color{animation-name:color;-webkit-animation-name:color;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;animation-duration:20s;-webkit-animation-duration:20s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible !important;}
@keyframes color{0%{color:#47616e;}45%{color:#47616e;}55%{color:#F54F1D;}100%{color:#F54F1D;}}
@-webkit-keyframes color{0%{color:#47616e;}33%{color:#47616e;}66%{color:#F54F1D;}100%{color:#F54F1D;}}
.color2{animation-name:color2;-webkit-animation-name:color2;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;animation-duration:20s;-webkit-animation-duration:20s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible !important;}
@keyframes color2{0%{color:#F54F1D;}45%{color:#F54F1D;}55%{color:#47616e;}100%{color:#47616e;}}
@-webkit-keyframes color2{0%{color:#F54F1D;}33%{color:#F54F1D;}66%{color:#47616e;}100%{color:#47616e;}}
.color3{animation-name:color3;-webkit-animation-name:color3;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible !important;}
@keyframes color3{0%{color:#d09c39;}49%{color:#d09c39;}50%{color:#000;}100%{color:#000;}}
@-webkit-keyframes color3{0%{color:#d09c39;}49%{color:#d09c39;}50%{color:#000;}100%{color:#000;}}
@keyframes pulssing {
	0% {
		transform: scale(1);
		opacity: 0.9;		
	}
	50% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 0.9;	
	}			
}

@-webkit-keyframes pulssing {
	0% {
		-webkit-transform: scale(1);
		opacity: 0.9;		
	}
	50% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 0.9;	
	}			
}
:before, :after{
	display:table;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
}
.register-online{text-align:center;margin-top:12px;}
.register-online img{max-width:100%;}
.mobile-menu{top:0;left:0;position:fixed;width:220px;height:100%;z-index:0;background:#fff;overflow-y:auto;-webkit-overflow-scrolling:touch;display:block;}
.fixed-mb{display:none; width:100%;height:100%;position:absolute;right:0;top:0;background:rgba(0, 0, 0, 0.54);z-index:2;}
.display-mobile{display:block !important;}
.mobile-menu > ul{width:220px;position:relative;background:#fff;}
.nodisplay{display:none;}
.mobile-menu > ul > li > a{color:#000;height:auto;text-align:center;text-shadow:1px 1px 1px #666;font-size:14px;text-transform:uppercase;font-weight:700;}
.mobile-menu > ul > li{text-align:center;background:#fff;clear:both;border-bottom:1px #bfbfbf dotted;}
.mobile-menu > ul > li:last-child{border-bottom:none;}
.mobile-menu > ul > li:hover{background:#ffb400;color:#FFF;}
.mobile-menu > ul > li li:hover{background:#FFFF99;display:block;color:#4A4646;}
.mobile-menu > ul.menu > li{margin-bottom: 6px;}
.mobile-menu > ul > li:nth-child(1) a{height:40px;display:block;width:100%;}
.mobile-menu > ul > li:nth-child(1){border:none;}
.mobile-menu > ul > li:nth-child(1){line-height:40px;}
.mobile-menu > ul.menu > li:nth-child(1), .mobile-menu > ul.menu > li:nth-child(1):hover a{
	line-height:40px;background:url(../images/home.png) scroll no-repeat center #3b8c14;border-right:1px #fff solid;
}
.mobile-menu > ul.categories > li:nth-child(1){line-height:80px;color:#fff;background:url(../images/icon_chuyenkhoa.png) no-repeat 8px center #4A4646;padding-left:20px;font-size:20px;font-weight:500;text-transform:uppercase;}
.mobile-menu > ul > li > ul > li{min-height:45px;line-height:50px;border-top:1px #bfbfbf dotted;}
.mobile-menu > ul > li > ul > li a{font-size:14px;font-weight:800;text-transform:uppercase;color:#666;text-shadow:1px 1px 1px #999;}
.main{margin:0 auto;max-width:1024px;}
#welcome-top{
	padding:2px 10px;background: url(../images/top_bg.png) repeat;border-bottom: 1px #e6e6e6 solid;
}
#welcome-top h4{
	font-family: 'Roboto Condensed', sans-serif;color:#000;
	font-size: 16px;line-height:25px;float:left;padding:4px;
}
#welcome-top .share-top{float:left;margin-right:20px;margin-top:5px;}
.share-top a {margin-left: 10px; float:left;font-size:24px;}
a.btn_facebook{color:#6081c4;} a.btn_twitter{color:#43bdef;}
a.btn_pinterest{color:#e62b33;} a.btn_google{color:#e62b33;}
.share-top a:hover{color:#999;}

.top-search{width:28%;max-width:340px;float:right;padding:2px 8px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.top-search form{position:relative;overflow:hidden;border-radius:6px;}
.top-search .input{
	border:1px #ccc solid;padding:6px;width:100%;
	background:#fff;
	font-size:14px;
	height:auto;
	margin:0;
	border-radius:6px;
	box-sizing:border-box;overflow:hidden;
	overflow:hidden;padding-right:38px;
	}
.top-search .button{
	cursor:pointer;text-indent:-9999px;
	height: 30px;width: 38px;position:absolute;right:0;top:0;
	border:1px #ccc solid;border-radius: 0;
	background: url(../images/header_kinhlup_icon.png) no-repeat center;
}
.top-search .button:hover{
	background: url(../images/header_kinhlup_iconhover.png) no-repeat center center #EFF4C9;border:1px #ccc solid;
}
#toptop{
	margin:0;padding-bottom:6px;
}
#toptop .border-top {
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
}





#header-info{padding-top:10px;padding-bottom:8px;}
#header-info .in{max-width:1160px;margin:0 auto;}
#header-info .logo{width:30%; float:left;padding-left:5px;padding-top:5px; box-sizing:border-box;text-align:left;}
#header-info .hotline{width:30%;max-width:260px;float:right;padding:30px 5px 10px;box-sizing:border-box;text-align:right;}
#header-info img{max-width:100%;}
#header-info .info-right{width:66%;float:right;text-align:left;}
.top-contact{
	overflow:hidden;width:62%;float:left;padding-top:25px;padding-bottom:10px;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
	font-size:14px;color:#000;
}
.top-contact li{padding-top:12px; display: inline-block;}
.top-contact li:after{content:'';clear:both;}
.top-contact li h4{font-family: 'Roboto Condensed', sans-serif;font-size:18px;text-transform:uppercase;color:#ec1c27;}
.top-contact li img{float:left;margin-right:10px;margin-top:-3px;}
.top-contact li strong{display:inline-block;padding-right:5px;}
.top-cart{
	width:16%;max-width:120px;font-size:13px;line-height:32px;
	float:right;text-align:center;
}
.top-cart a{color:#676767;}
.top-cart img{margin-top:6px;float:left;}


#menu-center{max-width:1056px;margin:0 auto;position:relative;}
#menu-top{
	clear:both;z-index:999;width:100%;margin:0 auto;
	min-height:40px;top:0;left:0;background:#25366b;	
}
#menu-top .main{display:table;max-width:1280px;}
#menu-top .main > ul:after{content:'';clear:both;}
#menu-top .main > ul > li{
	position:relative;white-space:nowrap;float:left;
	text-align:center;height:40px;display:inline-block;line-height:40px;
	padding:0 20px 0 8px;text-transform:uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	background: url(../images/bg_nav_li.png) right center no-repeat;
	transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; 
}
#menu-top .main > ul > li:first-child{overflow:hidden;padding:0 20px 0 0;}
#menu-top .main > ul > li:last-child, #menu-top .main > ul > li.contact{background:none !important;}
#menu-top .main > ul > li:hover,
#menu-top .main > ul > li.active{
	text-decoration:underline;transition:all 0.3s;
}
#menu-top .main > ul > li.active-off{background:#F0D713;border-top-left-radius:6px;-webkit-border-top-left-radius:6px;border-top-right-radius:6px;-webkit-border-top-right-radius:6px;transition:all 0.3s;}
#menu-top .main > ul > li > a{color:#fff;font-size:13.5px}
#menu-top .main > ul > li:hover > a{color: #ffdd82;text-decoration:none; }
#menu-top .main > ul > li > ul{
	position:absolute;z-index:99;left:0;top:40px;text-align:left;
	border:1px #EDEDED solid;margin-left:-99999px;
	opacity:0.9;border-bottom:2px #999 solid;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	padding:0 10px;background:#fff;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
#menu-top .main > ul > li.li-news > ul{left:-70px;}
#menu-top .main > ul > li:hover > ul{margin-left:0;}
#menu-top .main > ul > li > ul > li{float:left;margin:0 2px;clear:both;}
#menu-top .main > ul > li > ul > li:first-child{padding-top:6px;}
#menu-top .main > ul > li > ul > li:last-child{padding-bottom:6px;}

#menu-top .main > ul > li > ul a{
	height:16px;line-height:16px;padding-left:12px;float:left;display:block;color:#1b1b1b;
	font-size:14px;background:url(../images/icon_normal_topmenu.png) no-repeat 0 center;
	
}
#menu-top .main > ul > li > ul > li > ul > li{margin-top:2px;float:none;padding:0;}
#menu-top .main > ul > li > ul > li > ul > li:first-child{padding-top:6px;}
#menu-top .main > ul > li > ul > li span{clear:both;display:block;font-weight:700;font-size:14px;padding:0 0 0 0;}
#menu-top .main > ul > li > ul > li > a{
	text-transform:none;font-size:16px;
	background: url(../images/arrow_on.png) no-repeat 0 11px;
	padding:8px 6px 8px 16px;
}
#menu-top .main > ul > li > ul > li > a:hover{color:#28778a;}
#menu-top .main > ul > li > ul > li:not(:last-child){border-bottom:1px #fff dotted;}
#menu-top .main > ul > li > ul > li span{color:#333332;border-bottom:1px #c7c7c7 dotted;font-size:15px;text-transform:uppercase;}
#menu-top .main > ul > li > ul > li span:hover{opacity:0.7;}
.search-icond{width:40px;height:30px;border-radius:8px 0 0px 8px;-moz-border-radius:8px 0 0px 8px;-webkit-border-radius:8px 0 0px 8px;background:url(../images/search.png) no-repeat center top #CCC !important;position:fixed;z-index:9999;text-align:center;padding-top:3px;right:0px;top:94px;}
.search{height:20px !important;position:fixed;top:98px;right:5px;z-index:9999;float:right;}
.contact-last{
	background:rgba(204, 231, 237, 0.8);position:fixed;bottom:0;padding:0 5px;
	z-index:99999;font-weight:700;width:100%;display:none;
	float:left;text-align:center;margin:0 auto;font-size:16px;
}
.contact-last ul:after{content:'';clear:both;}
.contact-last li{padding:0 1%;text-align:left;box-sizing:border-box;}
.contact-last li  a, .contact-last li span{line-height:36px;font-size:13px;}
.contact-last li img{float:left;margin-right:3px;margin-top:2px;}
.alert-notifi{width:100%;position:fixed;z-index:9999;top:0;}
#notification{max-width:660px;margin:0 auto;line-height:50px;font-size:16px;padding:0 12px;clear:both;background:#EDEDED;border-radius:10px;}
#notification img{float:right;padding:12px 3px 0 10px;cursor:pointer;display:block;}
#notification .error{color:red;line-height:30px;font-weight:700;}
#notification a{font-weight:700}
#notification a:hover{text-decoration:underline}
session{padding:0;margin:0;}
article{margin:0;padding:0;}
article h2{
    color: #048444;
}
.hidden{visibility:hidden;}
ul.nav-details{}
ul.nav-details:after{content:'';clear:both;display:table;}
.nav-details li{width:16.66%;float:left;padding:20px 0;text-align:center;text-transform:uppercase;}
.nav-details li a{color:#1b1b1b;display:block;font-family: 'Roboto Condensed', sans-serif;}
.nav-details li a:hover{color: #d09c39 !important;}
.nav-details li a:before{width:60px;height:60px;display:table;content:'';margin:0 auto 12px;}
.nav-details li:nth-child(6) a:before{background:url(../images/icon-xe.png) no-repeat 0 0;}
.nav-details li:nth-child(1) a:before{background:url(../images/icon-xe.png) no-repeat 0 -60px;}
.nav-details li:nth-child(2) a:before{background:url(../images/icon-xe.png) no-repeat 0 -120px;}
.nav-details li:nth-child(3) a:before{background:url(../images/icon-xe.png) no-repeat 0 -180px;}
.nav-details li:nth-child(4) a:before{background:url(../images/icon-xe.png) no-repeat 0 -240px;}
.nav-details li:nth-child(5) a:before{background:url(../images/icon-xe.png) no-repeat 0 -300px;}
.nav-details li:nth-child(6) a:hover:before{background:url(../images/icon-xe.png) no-repeat -60px 0;}
.nav-details li:nth-child(1) a:hover:before{background:url(../images/icon-xe.png) no-repeat -60px -60px;}
.nav-details li:nth-child(2) a:hover:before{background:url(../images/icon-xe.png) no-repeat -60px -120px;}
.nav-details li:nth-child(3) a:hover:before{background:url(../images/icon-xe.png) no-repeat -60px -180px;}
.nav-details li:nth-child(4) a:hover:before{background:url(../images/icon-xe.png) no-repeat -60px -240px;}
.nav-details li:nth-child(5) a:hover:before{background:url(../images/icon-xe.png) no-repeat -60px -300px;}
#content-index{width:100%;margin:0;padding:0; }
#container{margin:0;padding-bottom:16px;}
.block-news{
	margin-bottom:16px;box-sizing:border-box;padding-top:20px;
}
.block-news h2{
	font-size:20px;line-height:24px;text-align:left;font-weight:700;box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;text-transform:uppercase;
}
.block-news h2 span, .block-news h2 a{
	background:url(../images/icon-list.png) no-repeat 0 14px;
	color:#d20000;border-bottom: 1px #d20000 solid;padding-left: 32px;padding-bottom:4px;padding:10px 0 4px 28px
}
.block-news h2.new span{background:url(../images/icon-new.png) no-repeat 0 6px;padding: 10px 0 4px 33px;}


.block-news h2 a{color:#c70606;text-decoration:none;border-bottom: 1px #c70606 solid;}
.block-news h2 a:hover{}
.block-news .product-block-inner{
	text-align:center;position:relative;width:23.5%;margin-right:2%;margin-top: 2%;
	float:left;overflow:hidden;padding:0;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
	transition:0.5 all ease;background:#f6f6f6;
}


.block-news .product-block-inner:nth-of-type(4n){margin-right:0;}
.block-news .product-block-inner:hover{background:#eee;}
.block-news .product-block-inner:nth-of-type(4n + 1){clear:both;}
.product-block-inner .product-info{
	text-align:left;padding-bottom:12px;
	background: url(../images/top_bg.png) repeat #f8fdfd;
}
.product-block-inner .product-info h3{
	font-size:16px;line-height:22px;min-height:44px;margin-bottom:12px;padding:10px;background:#07466d;
	font-family: 'Roboto Condensed', sans-serif;font-weight: 700;
}
.product-block-inner .product-info h3 a{color:#fff;}
.product-block-inner .product-info h3 a:hover{text-decoration:underline;}
.product-block-inner .product-info p{padding:0 10px;}
.block-news .image{width:100%;margin:0 auto;position:relative}
.block-news .image .link-image{
	display:block;max-width:242px;max-height:162px;margin:0 auto;
	position:relative;overflow:hidden;
}
.block-news .image .link-image .img{
	display:block;
	opacity: 1;
}
.block-news .image .link-image .hover-image{
	position:absolute;width:242px;height:162px;display:block;
	background: url(../images/eye-icon1.png) no-repeat center, url(../images/page/linebg-fade.png) repeat-x 0 0;
	top:0;transition:all 0.3s ease-in-out;opacity:0.1;
}
.block-news .image .link-image:hover .hover-image{opacity:1;}


.block-news .image img{width:100%;max-width:242px;}
.block-news .product-block-inner .sale{
	position: absolute;
    right: 5px;
    top: 5px;
    padding: 3px 4px;
    background-color: #fff;
    border: 1px solid #e5101d;
    color: #e5101d;
    font-size: 13px;
    border-radius: 2px;
}
.block-news .name{
	font-family: 'Tahoma', sans-serif;
	padding:0 12px 16px;margin:0 auto;
	text-align:center;overflow:hidden;
}
.block-news .name a{color:#2d7598;font-size:16px;line-height:22px;min-height:40px;font-weight:700}
.block-news .name a:hover{text-decoration:underline}
.block-news .code{font-size:20px;padding:0 0 5px}
.block-news .details{width:92%;margin:8px auto;text-align:justify}
.block-news .price{
	font-size:15px;padding:8px 12px 4px;display:block;color:#666;
	
}
.box-product .price{text-align:center;}
.block-news .price-old, .allproduct .price-old{font-size:13px;display:block;}
.price-old{color:#000;text-decoration:line-through;text-align:center;}
.price-new, .donvi{color:#E76453;}
.block-news .price-new, .price-new{padding:0;color:red;font-weight:700;font-size:15px;text-align:center;}
.block-news .price-new{display:block;}
.block-news .cart, .block-news .contact{padding:0 6px 12px;clear:both;}
.block-news .cart .button, .block-news .contact .button{margin-top:10px;width:120px;height:30px;text-transform:none;border-radius:20px;}
.block-news .cart-2{max-width:120px;margin:0 auto;padding:10px 0;}
.button{
	width:94%;max-width:200px;height:36px;border:none;padding:0px 8px;text-transform: uppercase;
	border: 1px #d64430 solid;border-radius: 5px;
	background:#1e73be;background:-moz-linear-gradient(top, #e76452 0%, #d43e2a 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e76452), color-stop(100%,#d43e2a));
	background:-webkit-linear-gradient(top, #e76452 0%,#d43e2a 100%);
	background:-o-linear-gradient(top, #e76452 0%,#d43e2a 100%);
	background:-ms-linear-gradient(top, #e76452 0%,#d43e2a 100%);
	background:linear-gradient(to bottom, #e76452 0%,#d43e2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e76452', endColorstr='#d43e2a',GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color:#fff;cursor:pointer;
}
a.button:hover, .button:hover{
	background: #d43e2a;color: #fff;
}
.box-news h3{background:#EDEDED;font-size:15px;margin:0;text-align:center;line-height:25px;width:100%;margin:0 auto;text-transform:uppercase;padding:5px 0;color:#47616e;display:block;}
.box-news .news-item li{padding:5px 4px;border-bottom:1px #EDEDED dashed;clear:both;}
.box-news .news-item li:last-child{border:none;}
.box-news .news-img{float:left;margin:4px;}
.box-news .news-item .news-title h4{text-align:left;line-height:17px;padding:2px;font-size:14px;}
.box-news .news-item .news-title h4:first-letter{text-transform:uppercase;}
.box-news .news-details{padding:0 5px;font-size:13px;line-height:16px;}
.box-news .news-details:first-letter{text-transform:uppercase;}
.table-product-news{width:59%;float:right;}
.box-table{width:100%; overflow-x: auto;}
.name-product-new{width:100%;margin-top:20px;font-family: 'Roboto Condensed', sans-serif;text-align:left;}

.name-product-new tr th {
  background: #07466d;
  color: #ffffff;
  padding: 10px;
  border-left: 1px solid #ffffff;
  white-space: nowrap;
  vertical-align: middle;
  text-transform:uppercase;
}
.name-product-new tr td {
  color: #666666;
  background: #fafafa;
  padding: 10px;
  border-top: none;
  border-left: 1px solid #ffffff;
}
.name-product-new tr td a {
  color: #15728a;
}
.name-product-new tr:nth-child(2n+1) td {
  background: #f0f0f0;
}

.list-article-news{width:40%;float:left;}
.list-article-news ul{margin-top:20px;}
.list-article-news ul li{clear:both;margin-bottom:12px;}
.list-article-news ul li:after{content:'';display:block;clear:both;}

.content-info{
	margin:0;padding-bottom:20px;
	box-sizing:border-box;text-align:left;
}
.content-info .note{color:#F30;padding:20px 0 0}
.content-info h2{
	font-size:36px;line-height:46px;text-align:left;font-weight:700;
	color:#d20000;text-transform:uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	background: url(../images/question-icon.png) #fff no-repeat left 10px;
	min-height:85px;padding-left:106px;padding-bottom:20px;
}
.content-info h3{
	font-size:30px;line-height:40px;text-align:left;font-weight:700;
	color:#0089e8;text-transform:uppercase;font-family: 'Roboto Condensed', sans-serif;
	background: url(../images/camket-icon.png) #fff no-repeat left 20px;
	padding:30px 0 20px 106px;
}
.content-info p{margin:10px 0;text-align:left;}
.content-info ul {
    list-style: inherit;
    margin: 10px 0 10px 30px;
}

.content-info .day, #div-article .day{color:#F54F1D;font-size:18px}
.content-info table, #div-article table{margin:0 auto;padding:0;overflow:inherit;width:100%;}
.content-info table tbody tr:nth-child(odd), #div-article table tbody tr:nth-child(odd){background:#ededed}
.content-info table tbody tr:nth-child(even), #div-article table tbody tr:nth-child(even){background:#f9f9f9}
.content-info table tbody tr:first-child td, #div-article table tbody tr:first-child td{vertical-align:middle;}
.content-info table tbody tr .td-first{max-width:100px !important;}

.content-info table thead tr:first-child, #div-article table thead tr:first-child{background:#47616e;color:#fff;font-size:18px;text-transform:uppercase;text-align:center;}
.content-info table td:nth-child(3) p,
#div-article table td:nth-child(3) p,
.content-info table td:nth-child(4) p,
#div-article table td:nth-child(4) p{text-align:center !important;}
.blog-new{padding:5px 0 10px;}
.blog-new h3{border-bottom:1px #47616e dashed;}
.blog-new .price{color:#F54F1D;font-size:18px;}
.category-list{margin-bottom:6px;padding:0; border: 1px solid #ddd;}
.mobile-menu .category-list{background:#fff;}
.category-list .category-title{
	font-size:15px;text-align:center;
	line-height:25px;width:100%;margin:0 auto;padding:6px 0;
	display:block;border-bottom: 1px solid #ddd;
}
.category-list .category-title span{
	clear:both;position:relative;display:block;cursor:pointer;
	color:#535353;font-size:16px;padding:0 5px;
	text-transform: uppercase;text-align:left;font-family: 'Roboto Condensed', sans-serif;
	
}
.category-list .category-title.active{background: url(../images/line_menu_left.png) repeat center center;border-bottom:none;}
.category-list .category-title.active span{color:#ed4934;}
.category-list .category-title span:hover{color:#ed4934;background:url(../images/line_menu_left.png) repeat center center;border-bottom:none;}

.category-list .category-title span:before{
	width:0;height:0;display:block;content:'';
    border-top: 5px solid #535353;border-right: 5px solid #535353;
	float:left;margin-top:10px;margin-right:8px;
}
.category-list .category-title span:hover:before, 
.category-list .category-title.active span:before{border-top: 5px solid #ed4934;border-right: 5px solid #ed4934;}

.category-list .list{margin:0;padding:6px 0;background:#f9f9f9;display:none;}
.category-list > ul{width:100%;margin:0 auto;box-sizing:border-box;}
.category-list > ul > li ul{padding:0;margin:0;width:100%;max-width:241px;}
.category-list > ul > li{padding:0;}
.category-list > ul > li li{
	width:90%;margin:0 auto;padding:5px 0;min-height:23px;line-height:23px; border-bottom: 1px #ddd solid;
}
.category-list > ul > li li:last-child{border:none;}
.category-list .list > ul > li a{background:url(../images/page/icon2_menuleft.png) no-repeat 0 center;white-space:nowrap;padding:5px 5px 5px 12px;font-size:14px;color:#000000;}
.category-list .list > ul > li a:hover{margin-left:4px;background:url(../images/page/icon2_hover_menuleft.png) no-repeat 0 center;color:#f5003b;transition:all 0.3s;}
.category-list .list > ul > li a.active{margin-left:4px;background:url(../images/page/icon2_hover_menuleft.png) no-repeat 0 center;color:#f5003b;}
.categories_detail .form-center{width:94%;max-width:450px;margin:0 auto;}
.form-center .form-data {padding:5px 0;}
.form-center .form-data input, .form-center .form-data select{
	width:100% !important;padding:2px 10px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
	border-radius:3px;border:1px solid #969A96;
}
.form-center .form-data select{font-size:15px;}
.form-center .form-data label{
	width:100%;display:block;
	text-align:left;font-weight: 700;
	font-size:14px;text-transform:uppercase;
	font-family: 'Roboto Condensed', sans-serif;
}
.form-center .form-data button {
    padding: 12px;
    font-size: 20px;
    margin-top: 12px;
	max-width:180px;
    height: auto;
    text-transform: uppercase;
}
.modal .form-center {
    width: 100%;
}
.modal .form-center:after{content:'';clear:both;}
.modal-style .modal-content .form-data{width:50%;float:left;box-sizing:border-box;}
.modal-style .modal-content .form-data:nth-child(odd){clear:both;padding-right:10px;}
.modal-style .modal-content .form-data:nth-child(even){padding-left:10px;}
.form-center .form-data input, .form-center .form-data select{
	width:100% !important;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;height:30px;
	border-radius:3px;border:1px solid #969A96;
}
.new-article{margin:10px 0;padding-bottom:8px;border-bottom:1px #dedede solid;background:#f9f9f9}
.new-article h3{
	font-size: 24px;font-weight:700;font-family: 'Roboto Condensed', sans-serif;text-transform:uppercase;
	padding: 11px 12px 10px 36px;color:#c70606;
	background:url(../images/icon_news.png) no-repeat 10px 10px #f1f1f1;
	box-sizing:border-box;border-bottom:1px #fff solid;border-top:4px #ddd  solid;
}
.new-article h3 a{color:#d20000;}
.new-article h3 a:hover{text-decoration:underline;}

.list-article-news h3 {
	text-transform:uppercase;
}
.list-article-news h3 a{
	font-size: 20px;
    line-height: 24px;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    background: url(../images/icon-list.png) no-repeat 0 4px;
    color: #c70606;border-bottom: 1px #c70606 solid;
    text-transform: uppercase;text-decoration:none;
    padding-left: 28px;padding-bottom:4px;
}
.list-article-news h3 a:hover{}


.new-article ul{margin-top:12px;}
.new-article ul:after{content:'';clear:both;}
.new-article ul li {
	width: 48%;margin:2px 1% 12px;
	float:left;
	min-height: 80px;
}
.new-article ul li:nth-child(2n + 1){clear:both;}
.new-article.featured-article ul li {
	width: 31.3333%;
}
.new-article.featured-article ul li:nth-child(3n + 1){clear:both;}
.new-article ul li:after{content:'';clear:both;}
.new-article h4, .list-article-news h4 {
	padding: 0;
	overflow: hidden;
	text-align: left;
	line-height: 22px;
	font-size: 17px;
	font-family: 'Roboto Condensed', sans-serif;
}
.new-article h4 a {color: #0062a7;font-weight:700;}
.new-article.featured h4 a{color: #000;}
.new-article.featured-article h4 a {color: #000;}
.new-article h4 a:hover {
	text-decoration:underline;
}
.new-article .news-img, .list-article-news .news-img {
	float:left;margin-right:8px;
}
.new-article .news-img .hover-img, .list-article-news .news-img .hover-img{
	position:absolute;width:120px;height:80px;display:block;
	background: url(../images/eye-icon.png) no-repeat center, url(../images/page/linebg-fade.png) repeat-x 0 0;
	top:0;transition:all 0.3s ease-in-out;opacity:0.1;
}
.new-article .news-img .link-image, .list-article-news .news-img .link-image {
    display: block;
    max-width: 120px;
    max-height: 80px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.new-article .news-img a:hover .hover-img, .list-article-news .news-img a:hover .hover-img{opacity:1;}
.new-article .news-details, .list-article-news .news-details {
	text-align: left;
	font-size: 14px;
}
.fired-popup {
	background: rgba(41, 67, 90, 0.7);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 9999;
	display: none
}
.modal {
	display: none;
	position: fixed;
	z-index: 99999;
	left: 0;
	right: 0;
	top: 10%;
	background-color: #fafafa;
	box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.5), 0 25px 55px 0 rgba(0, 0, 0, 0.5);
	padding: 0;
	height: 80%;
	width: 84%;
	max-width: 540px;
	margin: auto;
	overflow-y: auto;
	border-radius: 2px;
	will-change: top, opacity
}
.modal div {
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box
}
.modal .modal-content {
	padding: 20px
}
.modal .modal-content h4 {
	padding: 10px 0;
	font-size: 1.5rem;
	font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	text-align: center
}
.modal .modal-content .details {
	padding: 5px 0;
	text-align: left
}
.modal .modal-content .details span {
	font-weight: 700
}
.modal .modal-close {
	cursor: pointer;
	position: absolute;
	background: none;
	border: none;
	color: grey;
	font-size: 46px;
	line-height: 20px;
	top: 5px;
	right: 5px
}
.modal .modal-close:hover {
	color: #ffab00
}
.modal .modal-footer {
	border-radius: 0 0 2px 2px;
	background-color: #fafafa;
	padding: 12px 6px;
	text-align: center;
	width: 100%
}
.modal.modal-fixed-footer .modal-content {
	position: absolute;
	height: calc(100% - 56px);
	max-height: 100%;
	width: 100%;
	overflow-y: auto
}
.modal.modal-fixed-footer .modal-footer {
	border-top: 1px solid rgba(0, 0, 0, .1);
	position: absolute;
	bottom: 0
}
.modal.bottom-sheet {
	top: auto;
	bottom: -100%;
	margin: 0;
	width: 100%;
	max-height: 45%;
	border-radius: 0;
	will-change: bottom, opacity
}

.tick_normal {
    background-color: #f2f2f2;
    float: left;
    transition: all ease 1s;
    overflow: hidden;
    padding: 12px 0 2px;
	box-sizing:border-box;
    position: fixed;
    left: 0;
    top: 120px;
	display:none;
    width: 154px;
    z-index: 99999;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
.tick_normal hr{width:100px;margin: 0 auto;}
.tick_normal .div_text {
    color: #2b465e;
    font-size: 16px;
	font-weight:700;
    line-height: 28px;
	text-align:center;
    width: 150px;
}
footer{width:100%;margin:0;padding:0;overflow:hidden;}
.footerbg1{width:100%;margin:0;overflow:hidden;background:#000;border-bottom:1px #333 solid;text-align:center;}
.footerbg2{margin:0;padding:0;background:#222;color:#ccc;}
.footerbg2 .main{max-width:1030px;}
.footerbg2 .left-footer{width:48%;padding:30px 0 12px;float:left;text-align:left;font-family: 'Tahoma', sans-serif;}
.footerbg2 .left-footer .widget-title {
    margin-bottom: 16px;text-transform:uppercase;font-size:18px;font-family: "Tahoma", Palatino, Cambria, "Droid Serif", Georgia, "Times New Roman", Times, serif;
}
.footerbg2 .left-footer h4{font-size: 1rem;line-height: 2.0rem;font-family: "Tahoma", Palatino, Cambria, "Droid Serif", Georgia, "Times New Roman", Times, serif;}
.footerbg2 .left-footer p{line-height: 30px;}
.footerbg2 .left-footer .footerPanelMembers{}
.footer-share{padding:20px 0 0;}
.footer-share a{margin:0 8px;}
.footerbg2 .right-footer{width:48%;float:right;text-align:left;padding:20px 0;font-family: 'Tahoma', sans-serif;}
.footerbg2 .right-footer:after{content:'';clear:both;}
.footerbg2 .right-footer .footer-info{width:42%;float:left;font-family: 'Roboto Condensed', sans-serif;}
.footerbg2 .right-footer .row:after{content:'';clear:both;display:table;}
.footerbg2 .right-footer .footerPanel, .vremoveSpacing{width:33.33333%;float:left;font-size: 0.9rem;}
.footer_parter{width:66.66666%;float:left;}



.footerbg2 .right-footer h4{
	color:#fff;padding:10px 0;
	font-size: 1rem;line-height: 1.5rem;font-family: "Tahoma", Palatino, Cambria, "Droid Serif", Georgia, "Times New Roman", Times, serif;
}
.footerbg2 .right-footer .footer-info-last{width:100%;}
.footerbg2 .right-footer .footer-info-last p{padding:6px 0;font-size:0.9rem;text-align:justify;}
.right-footer .footer-info p{padding:5px 12px;font-size:15px;}
.right-footer .footer-info span.first{display:block;width:72px;float:left;}
.footerbg2 .right-footer a{color:#666;}
.footerbg2 .right-footer a:hover{color:#fff;}
.social-links {text-align:left;}
.social-links .list li{display:inline-block;margin-right:20px;}
.social-links .list li a{color:#666}
.social-links .list li a:hover{color:#fff;}
.social-links .list li i{font-size: 1.71429rem;line-height: 2.57143rem;}
.social-links *:before, .social-links *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.copyright{
	text-align:center;clear:both;padding:15px 5px 10px;
	color:#fff;background:#222;border-top:1px #333 solid;
	}
.copyright span{font-size:16px;font-weight:700;}
.btn_menu{
	float:left;z-index:9999;right:0;background-size:100%;position:relative;
	cursor:pointer;width:32px;padding:4px 0;margin-left:4px;
}
#htop{
	display:none;background:#25366b; width:100%;top:0;min-height:40px;z-index: 999;
}
#htop .logo-title{margin:0 auto;color:#fff;font-size:18px;line-height:30px;font-style:italic;text-decoration:underline;font-weight:700;width:100%;text-align:center;padding:7px 0;line-height:26px;}
#error404{min-height:308px;text-align:center;width:98%;margin:0 auto;}
#error404 .title404{font-size:25px;color:#ad013a;margin-top:20px;padding-top:35px;clear:both;text-align:center;line-height:35px;}
#error404 .homeclick{margin-top:10px;line-height:25px;font-size:18px;}
#error404 .homeclick a{color:#36F}
#error404 .homeclick a:hover{text-decoration:underline;color:#69F}
#error404 ul li{display:inline-block;padding:5px 10px;margin:2px;background:#F63;color:#fff;}
#error404 ul li a{color:#fff;}
#error404 p{font-size:15px;line-height:25px;margin-top:5px;}
.search404{margin:0 auto;padding-bottom:20px;}
.search404 input{margin-top:5px;padding:2px 10px;}
.in{max-width:980px;margin:0 auto;}
@media screen and (max-width:1200px){
	.banner_doc{display:none;}
	#menu-top .main > ul > li{padding:0 10px;}
}
@media screen and (max-width:1025px){
	.main{width:100%;margin:0 auto;}
.banner_left{display:none;}
#toptop{display:none;}
.toptop-nav{margin-left:-9999px;}
.toptop{display:none;}
#htop{display:block;}
.btn_menu{height:32px;width:32px;padding:4px 0;;}
.btn_menu img{max-width:100%}
}
@media screen and (max-width:800px){
.content-info #tablesdt tbody tr,
.content_article #tablesdt tbody tr,
.content-info #tablesdt tbody td,
.content_article #tablesdt tbody td{display:block;}
.content-info .goicuoc tbody tr,
.content_article .goicuoc tbody tr{display:block;margin:20px auto;border:none;border-bottom:1px #47616e dashed;border-top:10px #47616e solid;background:#f5f5f5}
.content-info .goicuoc tbody td,
.content_article .goicuoc tbody td{display:block;clear:both;border:none;}
.goicuoc tbody tr:first-child{display:none}
#header-info .logo{width:100%; float:none;text-align:center;}
#header-info .info-right{width:100%; float:none;}
.top-contact{width:96%;max-width:480px; float:none;padding-top:0;margin:0 auto;}
.top-contact li h4{text-align:center;}
#header-info .hotline{width:96%;padding:0;float:none;margin:0 auto; text-align:center;}
.top-search{width:60%;float:left;padding:0;}
.top-cart{width:38%;}


#menu-top{display:none;}
.menu-space{margin-top:60px !important;}
#main-menu{height:340px;}
.alert-notifi{top:40px;}
#notification{line-height:25px;text-align:left}
#notification > div{padding:12px;}
#notification img{padding:0px 3px 0 10px;}
.block-news .product-block-inner{width:48%;float:left;box-shadow:0 0 5px #666;}
.category-list > ul > li li{
	width:92%;text-align:left;min-height: 20px;line-height: 20px;font-family: 'Roboto Condensed', sans-serif;
}
.category-list .list{display:block;}
.new-article ul li {
	width:48%;float:left;
}
.block-news .product-block-inner:nth-child(even), .new-article ul li:nth-child(odd){clear:both;}
.list-article-news, .table-product-news{width:96%;float:none;margin:0 auto;}
.new-article ul li:nth-child(3n + 1) {
    clear: inherit;
}
.nav-details li{width:50%;}
.nav-details li:nth-child(2n + 1){clear:both;}
section{width:100%;margin:0 auto;overflow:hidden;}
.footerbg1{width:100%;float:none;}
.footerbg1 ul li{width:50%;}
.footerbg1 ul li:last-child{width:100%}
.right-footer .footer-info strong{float:none;text-transform:uppercase;}
.footerbg2 .left-footer{width:96%;float:none;box-sizing:border-box;padding: 12px 0 0;margin:0 auto;}
.footerbg2 .right-footer{width:96%;max-width:460px;float:none;margin:0 auto;padding:0 0 20px;box-sizing:border-box}
.footerbg2 .right-footer .footer-info{width:100%;}
.footerbg2 .right-footer .footer-info-last{width:100%;}
.footerbg2 .right-footer .row{display:none;}
}
@media screen and (max-width:680px){
	*{max-width:100%;margin:0;padding:0;}
	.copyright{margin:auto;padding:10px 12px 0;width:96%;line-height:25px;}
}
@media screen and (max-width:480px){
	.block-news .product-block-inner, 
	.block-news .product-block-inner:nth-of-type(4n){width:94%;float:none;margin:20px auto;padding-bottom: 16px;max-width:274px;}
	.new-article ul li {
		width: 94%;margin:10px auto;
		float:none;
	}
	.block-news h2{width:96%;margin:0 auto;}
	.name-product-new{width:auto;}
	.footerbg1 .col{width:97%;float:none;background:none;}
	
	.modal-style .modal-content .form-data,
	.modal-style .modal-content .form-data:nth-child(odd),
	.modal-style .modal-content .form-data:nth-child(even){width:100%;float:none; box-sizing:border-box;padding:5px 0;}
	.modal.modal-fixed-footer .modal-content{position:inherit;}
	.modal.modal-fixed-footer .modal-footer{position:inherit;}
	.thongbao-lienhe, .thongbao-lienhe1, .thongbao-lienhe2{font-size: 14.5px !important;}
	.modal {height:100%;top:0px;}
}