/*
Theme Name: Theme XKLD
Theme URI: http: //baovn24h.com
Description: Giao diện XKLD
Author: Thach Pham
Author URI: https://baovn24h.com
Template: twentyseventeen
Version: 0.1
*/
/* CSS Cart */
#cart{
    width: 100%;
    margin: 20px;
}
#cart tr{
    border: 1px solid #ccc;

}
.title-cart{
    background: #ccc;

}
.title-cart td{
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;

}
.content-cart td{
    padding: 10px;
    border: 1px solid #ccc;
}
.remove-product{
    background: red
}
.remove-product, .remove-product:hover {
    background: red;
    color: #fff;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
}
.sum-money{
    font-weight: 600;
    font-size: 14px;
}
.money{
    font-weight: 600;
    font-size: 14px;
}
.muatiep {
    background: #ff9900;
    margin: 20px;
    padding: 6px 20px;
    font-weight: 600;
    color: #fff!important;
}
.title-don{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.nhap_thong_tin{width: 29%; float: left; margin-left: 2%; margin-bottom: 10px; background: #fff; padding: 10px;}
.nhap_thong_tin input {
    height: 30px;
    width: 100%!important;
    border: 1px #e5e5e5 solid;
    width: 350px;
    outline: none;
    margin-top: 10px;
    padding: 0 10px;
}
.nhap_thong_tin textarea{width: 99%; margin-top: 10px; }
.mua{
    background: #eb71a8;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    font-size: 20px;
    height: 45px!important;
}
/* End CSS Cart */